.stay-sub-title {
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px; /* 카드 목록과 간격을 준다. */
}

.stay-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  padding: 20px;
}

.stay-card {
  padding: 10px;
  background-color: #fff;
  border-radius: 15px; /* 모서리를 더 둥글게 */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); /* 은은한 그림자 효과 */
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-direction: column;
  overflow: hidden; /* 모서리 밖으로 이미지가 삐져나가지 않도록 설정 */
  text-align: center;
}

.stay-card-img {
  padding-top: 70%; /* 이미지 비율 (필요에 따라 조절) */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.stay-card-title {
  min-height: 3.2em; /* 폰트 크기의 3.2배 높이를 최소 높이로 지정 (약 2줄 분량) */
  font-size: 22px;
  font-weight: 600; /* 제목을 살짝 두껍게 */
  color: #34495e;
  margin-bottom: 10px;
}

.stay-crad-address {
  font-size: 14px;
  color: #7f8c8d; /* 제목보다 연한 색상으로 정보의 중요도 구분 */
  margin-bottom: 25px;
}

.stay-card-NextPage-Button {
  display: block;
  margin: 0 auto;
  margin-top: auto;
  width: 300px;
  height: 50px;
  font-size: 16px;
}